{% include 'header.html' %}

<form action="/API/user/register" method="post">
    <label for="fusername">Username:</label>
    <input type="text" id="fusername" name="username" placeholder="John.Doe"/>
    <label for="fpassword">Password:</label>
    <input type="password" id="fpassword" name="password" placeholder="S3cret-P4ssw0rd"/>
    <label for="frole">Role:</label>
    <select id="frole" name="role">
        <option value="CEO">CEO</option>
        <option value="Project-Manager">Project Manager</option>
        <option value="DSI">DSI</option>
    </select>
    <label for="ffirstname">First Name:</label>
    <input type="text" id="ffirstname" name="prenom" placeholder="John"/>
    <label for="flastname">Last Name:</label>
    <input type="text" id="flastname" name="nom" placeholder="Doe"/>
    <input type="submit" value="Register">
</form>

{% include 'footer.html' %}